<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    {% hook 'seomaticRender' %}
    
    <link rel="stylesheet" href="{{ siteUrl }}build/css/styles.min.css">
    <script>
        window.siteUrl = "{{ siteUrl }}";
    </script>
</head>
<body>
<main id="app">