/** Variables examples are font-face, fonts, breakpoints, colors used across
all pages through inclusion in different files. Effectively, $variables & 
arrays of break points. **/

@font-face {
    font-family: 'formular';
    src: url('../fonts/formular-regular.woff2') format('woff2'),
         url('../fonts/formular-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt-bold';
    src: url('../fonts/TTCommons-Bold.woff2') format('woff2'),
        url('../fonts/TTCommons-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'tt-light';
    src: url('../fonts/TTCommons-Light.woff2') format('woff2'),
        url('../fonts/TTCommons-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('../fonts/AmsiPro-Light.woff2') format('woff2'),
        url('../fonts/AmsiPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}



/** Variables **/
$mouse: #3C3C3C;
$black: #3C3C3C;
$white: #ffffff;

$maxWidth: 1400px;
$small-line-height: 20px;
$lineHeight: 32px;
// Line Height:
$lg-line-height: 61px;

// Padding & Margins

$u-padding-l: 80px;
$u-margin-l: 80px;
$u-padding: 35px;
$u-margin: 35px;
$u-padding-s: 20px;
$u-margin-s: 20px;


// Font sizes
$font-small: 16px;
$font-sm-med: 15px;
$font-medium: 17px;
$font-large: 20px;
$font-xlarge: 37px;
$font-xxlarge: 50px;
$font-xxxlarge: 64px;

// Letter spacing
$letter-space-small: 0em;
$letter-space-med: 0.25em;

<<<<<<< HEAD

=======
// Line Height:
$lg-line-height: 25px;
$line-height-small: $font-small * 1.8;
$line-height-sm-med: $font-sm-med * 1.2;
$line-height-medium: $font-medium * 1.2;
$line-height-large: $font-large * 1.2;
$line-height-xlarge: $font-xlarge * 1.2;
$line-height-xxlarge: $font-xxlarge * 1.2;
$line-height-xxxlarge: $font-xxxlarge * 1.2;

// Font & Line Height reduction setting
$mobile-break-font-reduction: 0.9;
$mobile-font-reduction: 0.8;
>>>>>>> master

// Media Widths
$full-screen: 1800px;
$semi-full-screen: 1500px;
$desktop-large: 1300px;
$desktop: 1150px;
$mobile-break: 850px;
$mobile-actual-break: 700px;
$mobile: 450px;

.font-small-include {
    font-size: $font-small;
<<<<<<< HEAD
    line-height: $small-line-height;
    @include mobile-break {
        font-size: $font-small * 0.9;
        line-height: $small-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-small * 0.8;
        line-height: $small-line-height * 0.8;
=======
    line-height: $line-height-small;

    @include mobile-break {
        font-size: $font-small * $mobile-break-font-reduction;
        line-height: $line-height-small * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-small * $mobile-font-reduction;
        line-height: $line-height-small * $mobile-font-reduction;
>>>>>>> master
    }
}

.font-sm-med-include {
    font-size: $font-sm-med;
<<<<<<< HEAD
    line-height: $small-line-height;
    @include mobile-break {
        font-size: $font-sm-med * 0.9;
        line-height: $small-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-sm-med * 0.8;
        line-height: $small-line-height * 0.8;
=======
    line-height: $line-height-sm-med;

    @include mobile-break {
        font-size: $font-sm-med * $mobile-break-font-reduction;
        line-height: $line-height-sm-med * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-sm-med * $mobile-font-reduction;
        line-height: $line-height-sm-med * $mobile-font-reduction;
>>>>>>> master
    }
}

.font-medium-include {
    font-size: $font-medium;
<<<<<<< HEAD
    line-height: $lineHeight;
    @include mobile-break {
        font-size: $font-medium * 0.9;
        line-height: $lineHeight * 0.9;
    }
    @include mobile {
        font-size: $font-medium * 0.8;
        line-height: $lineHeight * 0.8;
=======
    line-height: $line-height-medium;

    @include mobile-break {
        font-size: $font-medium * $mobile-break-font-reduction;
        line-height: $line-height-medium * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-medium * $mobile-font-reduction;
        line-height: $line-height-medium * $mobile-font-reduction;
>>>>>>> master
    }
}

.font-large-include {
    font-size: $font-large;
<<<<<<< HEAD
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-large * 0.9;
        line-height: $lg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-large * 0.8;
        line-height: $lg-line-height * 0.8;
=======
    line-height: $line-height-large;

    @include mobile-break {
        font-size: $font-large * $mobile-break-font-reduction;
        line-height: $line-height-large * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-large * $mobile-font-reduction;
        line-height: $line-height-large * $mobile-font-reduction;
>>>>>>> master
    }
}

.font-xlarge-include {
    font-size: $font-xlarge;
<<<<<<< HEAD
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-xlarge * 0.9;
        line-height: $lg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-xlarge * 0.8;
        line-height: $lg-line-height * 0.8;
=======
    line-height: $line-height-xlarge;

    @include mobile-break {
        font-size: $font-xlarge * $mobile-break-font-reduction;
        line-height: $line-height-xlarge * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-xlarge * $mobile-font-reduction;
        line-height: $line-height-xlarge * $mobile-font-reduction;
>>>>>>> master
    }
}

.font-xxlarge-include {
    font-size: $font-xxlarge;
    line-height: $line-height-xxlarge;

    @include mobile-break {
        font-size: $font-xxlarge * $mobile-break-font-reduction;
        line-height: $line-height-xxlarge * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-xxlarge * $mobile-font-reduction;
        line-height: $line-height-xxlarge * $mobile-font-reduction;
    }
}

.font-xxxlarge-include {
    font-size: $font-xxxlarge;
    line-height: $line-height-xxxlarge;

    @include mobile-break {
        font-size: $font-xxxlarge * $mobile-break-font-reduction;
        line-height: $line-height-xxxlarge * $mobile-break-font-reduction;
    }
    @include mobile {
        font-size: $font-xxxlarge * $mobile-font-reduction;
        line-height: $line-height-xxxlarge * $mobile-font-reduction;
    }
}



