.button{
    margin: 0;
    border: none;
    overflow: visible;
    background-color: transparent;
    color: $black;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 30px;
    vertical-align: middle;
    line-height: $lineHeight;
    border: 1px solid $black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}

.button__large{
    padding: 0 50px;
}

.button__primary{
    background:$black;
    color: $white;
    &:hover{

    }
}
.button__secondary{
    background: $white;
    color: $black;
    &:hover{

    }
}

