nav {
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    //min-height: 100px;
    background: $white;
}
.fixedNavRelative{
    position: relative;
    width: 100%;
    min-height: 100px;
    height: 100%;
}
.hamburgerWrapper{ 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    .hamburger{
        width: 25px;
        height: 3px;
        background: $black;
        position: absolute;
        top: 50%;
        &:before, &:after{
            content: '';
            position: absolute;
            width: 25px;
            height: 3px;
            background: $black;
        }
        &:after{
            top: 12px;
        }
        &:before{
            top: -12px;
        }
    }
  
}