.masonry-with-columns {
    columns: 3;
    // column-width: 30%;
    column-gap: 1rem;
    @media (max-width: 1200px){
        columns: 2;
    }
    @media (max-width: 800px){
        columns: 1;
    }
    h3 {
        font-size: 25px;
        color: white;
        padding-bottom: 10px;
    }
    .social-block {
        //   width: 150px;
        background: #EC985A;
        color: white;
        margin: 0 1rem 1rem 0;
        display: inline-block;
        width: calc(100% - 20px);
        text-align: left;
        padding: 10px;
        
        .single-image{
            width: 100%;
        }
        .multi-image{
            width: 50%;
            display: inline-block;
            vertical-align:middle;
            @media (max-width: 1200px){
                width: 100%;
                display: block;
            }
        }
        .facebookImage{
            height: 500px;
        }
        .u-background{
            background-size: cover;
            background-repeat: no-repeat;
        }
        .twitterIcon{
            text-align: center;
            width: 50px;
            height: 50px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 10px;
        }
    } 
    
  }
  