{% extends '_layout' %}
{% block content %}
{% set feed = craft.socialFeedCraft3.feed %}


//- {{dump(feed)}}

| {% set facebookFeedBegun = false %}
| {% set twitterFeedBegun = false %}
| {% set instagramFeedBegun = false %}

.masonry-with-columns
    | {% for individualFeed in feed %}
    //- Facebook 
    | {% if individualFeed.from | lower == 'facebook'%}
    //- | {% if facebookFeedBegun == false%}
    //- | {% set facebookFeedBegun = true%}
    //- //- h2(style="display: inline-block") {{individualFeed.from}} -
    //- //- a(href="{{individualFeed.profile}}" style="display: inline-block") iPOP Digital
    //- | {% endif %}
    
    a(href="{{individualFeed.postUrl}}").social-block
        h3 Facebook
        | {% if individualFeed.postDate.date | length %}
        p Post Date: {{individualFeed.postDate.date | date("d/m/Y")}} 
        | {% endif %}

        | {% if individualFeed.postText | length %}
        p Description: {{ individualFeed.postText }} 
        | {% endif %}

        | {% if individualFeed.imgUrl | length %}
        | {% for individualImage in individualFeed.imgUrl %}
        .u-background(style="background-image:url({{individualImage}})" alt="facebook image" class="facebookImage {% if individualFeed.imgUrl | length != 1 %}multi-image{% else %}single-image{% endif %}")
        | {% endfor %}
        | {% endif %}

    | {% endif %}

    | {% if individualFeed.from | lower == 'twitter'%}
    //- | {% if twitterFeedBegun == false %}
    //- | {% set twitterFeedBegun = true %}
    //- //- h2(style="display: inline-block") {{individualFeed.from}} -
    //- //- a(href="{{individualFeed.profile}}" style="display: inline-block") {{individualFeed.username}}
    //- | {% endif %}
    .social-block
        h3 Twitter
        | {% if individualFeed.profileImage | length %}
        .twitterIcon(style="background-image:url({{individualFeed.profileImage}})")
        | {% endif %}
        | {% if individualFeed.postDate.date | length %}
        p Post Date: {{individualFeed.postDate.date | date("d/m/Y")}} 
        | {% endif %}
        | {% if individualFeed.postText | length %}
        p Description: {{ individualFeed.postText }} 
        | {% endif %}
        | {% if individualFeed.imgUrl | length %} 
        img(src="{{individualFeed.imgUrl}}" alt="facebook image")
        | {% endif %}
    | {% endif %}
    

    | {% if individualFeed.from | lower == 'instagram'%}
    //- | {% if instagramFeedBegun == false %}
    //- | {% set instagramFeedBegun = true %}
    //- h2(style="display: inline-block") {{individualFeed.from}} -
    //- a(href="{{individualFeed.profile}}" style="display: inline-block") {{individualFeed.username}}
    //- | {% endif %}
    a(href="{{individualFeed.postUrl}}").social-block
        h3 Instagram
        | {% if individualFeed.postDate.date | length %}
        p Post Date: {{individualFeed.postDate.date | date("d/m/Y")}} 
        | {% endif %}
        | {% if individualFeed.postText | length %}
        p Description: {{ individualFeed.postText }} 
        | {% endif %}
        | {% if individualFeed.imgUrl | length %} 
        img(src="{{individualFeed.imgUrl}}" alt="facebook image")
        | {% endif %}
    | {% endif %}
    | {% endfor %}


{% endblock %}