{% extends '_layout' %}
{% block content %}
{% set feed = craft.socialFeedCraft3.feed %}
{% set facebookFeedBegun = false %}
{% set twitterFeedBegun = false %}
{% set instagramFeedBegun = false %}<div class="masonry-with-columns">{% for individualFeed in feed %}{% if individualFeed.from | lower == 'facebook'%}<a href="{{individualFeed.postUrl}}" class="social-block"><h3>Facebook</h3>{% if individualFeed.postDate.date | length %}<p>Post Date: {{individualFeed.postDate.date | date("d/m/Y")}} </p>{% endif %}
{% if individualFeed.postText | length %}<p>Description: {{ individualFeed.postText }} </p>{% endif %}
{% if individualFeed.imgUrl | length %}
{% for individualImage in individualFeed.imgUrl %}<div style="background-image:url({{individualImage}})" alt="facebook image" class="u-background facebookImage {% if individualFeed.imgUrl | length != 1 %}multi-image{% else %}single-image{% endif %}"></div>{% endfor %}
{% endif %}</a>{% endif %}
{% if individualFeed.from | lower == 'twitter'%}<div class="social-block"><h3>Twitter</h3>{% if individualFeed.profileImage | length %}<div style="background-image:url({{individualFeed.profileImage}})" class="twitterIcon"></div>{% endif %}
{% if individualFeed.postDate.date | length %}<p>Post Date: {{individualFeed.postDate.date | date("d/m/Y")}} </p>{% endif %}
{% if individualFeed.postText | length %}<p>Description: {{ individualFeed.postText }} </p>{% endif %}
{% if individualFeed.imgUrl | length %} <img src="{{individualFeed.imgUrl}}" alt="facebook image"/>{% endif %}</div>{% endif %}
{% if individualFeed.from | lower == 'instagram'%}<a href="{{individualFeed.postUrl}}" class="social-block"><h3>Instagram</h3>{% if individualFeed.postDate.date | length %}<p>Post Date: {{individualFeed.postDate.date | date("d/m/Y")}} </p>{% endif %}
{% if individualFeed.postText | length %}<p>Description: {{ individualFeed.postText }} </p>{% endif %}
{% if individualFeed.imgUrl | length %} <img src="{{individualFeed.imgUrl}}" alt="facebook image"/>{% endif %}</a>{% endif %}
{% endfor %}</div>{% endblock %}